CACHE_DOMAINS_REPO=https://github.com/uklans/cache-domains.git
CACHE_DOMAINS_BRANCH=master
NOFETCH=false
UPSTREAM_DNS=8.8.8.8 8.8.4.4
CACHE_MEM_SIZE=500m
CACHE_DISK_SIZE=1000000m
CACHE_MAX_AGE=3560d
NGINX_WORKER_PROCESSES=auto
GENERICCACHE_VERSION=2
WEBUSER=www-data
BEAT_TIME=1h
LOGFILE_RETENTION=3560
NGINX_WORKER_PROCESSES=16
CACHE_SLICE_SIZE=1m
CACHE_MODE=generic
FORCE_PERMS_CHECK=false