matrix:
  domain: '{{chat_tld}}'
  v1: true
  v2: true

key:
  path: '/var/ma1sd/sign.key'

storage:
  backend: postgresql
  provider:
    postgresql:
      database: '//database:5432/{{ma1sd_database}}'
      username: '{{ma1sd_database_user}}'
      password: '{{ma1sd_database_password}}'

synapseSql:
  enabled: true
  type: postgresql
  connection: '//database:5432/{{ma1sd_database}}?user={{ma1sd_database_user}}&password={{ma1sd_database_password}}'
  lookup:
    query: 'SELECT user_id AS mxid, medium, address from user_threepid_id_server'
  legacyRoomNames: false

threepid:
  medium:
    email:
      identity:
        from: {{email_user}}
      connectors:
        smtp:
          host: {{email_host}}
          port: {{email_port}}
          tls: 1
          login: {{email_user}}
          password: '{{email_password}}'
        generators:
          template:
            invite: '/var/ma1sd/invite-template.eml'
            session:
              validation: '/var/ma1sd/validate-template.eml'
              unbind:
                frandulent: '/var/ma1sd/unbind-fraudulent.eml'
            generic:
              matrixId: '/var/ma1sd/mxid-template.eml'

hashing:
  enabled: true
  pepperLength: 20
  rotationPolicy: per_requests
  hashStorageType: sql
  algorithms:
    - sha256
