{
    "date": "m\/d\/Y",
    "default_account": 6,
    "delimiter": "comma",
    "headers": true,
    "ignore_duplicate_lines": false,
    "ignore_duplicate_transactions": false,
    "rules": true,
    "skip_form": false,
    "add_import_tag": true,
    "specifics": [],
    "roles": [
        "date_transaction",
        "_ignore",
        "description",
        "amount_debit",
        "amount_credit"
    ],
    "do_mapping": {
        "2": true,
        "0": false,
        "1": false,
        "3": false,
        "4": false
    },
    "mapping": [],
    "version": 2
}